*{}

/* temporary */

.temporary{
    display: block;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    color: #ffffff;
}

/*  */



body{
    background: #b8b8b8;
    background: linear-gradient(90deg, rgba(184, 184, 184, 1) 0%, rgba(150, 150, 150, 1) 48%, rgba(117, 117, 117, 1) 100%);
}

.container{
    display: flex;
    margin: 150px auto 0;
    /* border: 1px solid black; */
    border-radius: 30px;
    width: 70%;
    max-width: 1000px;
    justify-content: space-around;
    padding: 30px 10px;
    box-shadow: 0 3px 15px 16px #86868680 ;
    background-color: white;
}

.container a{
    text-decoration: none;
    color: white;
    text-align: center;
}

.container div{
    width: 35%;    
    border-radius: 30px;
    padding: 150px 30px;
}

.container .student{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(63, 158, 145, 1) 100%, rgba(87, 199, 133, 1) 100%, rgba(237, 221, 83, 1) 100%);
}

.container .professor{
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 0%, rgba(237, 221, 83, 1) 100%);
}
